.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  padding: 10px;
}

.header ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.header ul li a, .header ul li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container {
  flex-grow: 1;
  padding: 20px;
}

.code-editor-with-file-manager {
  display: flex;
  height: calc(100vh - 100px);
}

.file-manager {
  width: 300px;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.file-manager ul {
  list-style-type: none;
  padding: 0;
}

.file-manager li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-manager span {
  cursor: pointer;
}

.code-editor {
  flex-grow: 1;
  padding: 20px;
}

.code-editor .cm-editor {
  height: calc(100% - 40px);
}

.container {
  flex-grow: 1;
  padding: 20px;
}

.auth-form {
  max-width: 300px;
  margin: 0 auto;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.file-manager, .code-editor {
  margin-top: 20px;
}


.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.register-form {
  max-width: 300px;
  margin: 0 auto;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}